@font-face {
    font-family: NeoRetro;
    src: url('NeoRetroFill.eot') format('embedded-opentype'),
    url('NeoRetroFill.ttf') format('truetype');
}

html, body {
    width: 100%;
    /* height: 100%; */
    /* overflow-y: hidden; */
}

body {
    /* background-color: #F7F7F7; */
    margin: 0;
}

.clearfix:before,

.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.img{
    background-size: cover;
    background-position: center;
}

#main {
    margin: 0 auto 0;
    /* background-image: url('graphismes/fond.jpg'); */
    /* min-height: 100% !important; */
    width: 100%;
    position: relative;
    overflow-y: hidden;
    box-sizing: border-box;
    /* height: auto; */
}

#fond-discret {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('graphismes/fond-discret.png');
    background-size: 50%;
}


#onglets {
    position: fixed;
    width: 100%;
    height: 71px;
    top: 0px;
    margin: 0 auto 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.87);
    font-family: Segoe Print;
    color: #f8ef62;
    font-size: 19;
    border-bottom: 1px solid rgba(114, 114, 114, 0.66);
    border-top: 5px solid #89c6ff;
    /* text-shadow: #ffffbe 0 0 1px; */
    /* box-shadow: 0 0 5px #363636; */
    overflow: hidden;
}

#onglets a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

#onglets_in {
    width: 100%;
    height: 60.3px;
    border-top: 12px solid #ffac4e;
    /* border-bottom: 2px solid rgba(158, 158, 158, 0.65); */
    position: absolute;
    top: 0px;
    overflow: hidden;
}

#onglets_middle {
    margin-left: 50%;
    /* width: 3px; */
    /* height: 3px; */
    position: absolute;
    /* background-color: black; */
    top: 15px;
}

.onglet {
    position: absolute;
    min-width: 114px;
}

#projet {
    /* top: 84px; */
    left: -433px;
}

#fanfare {
    /* top: 0; */
    left: 57px;
}

#reseau {
    /* top: 176; */
    left: 146px;
}

#soutien {
    /* top: 126; */
    left: -88px;
}

#partenaires {
    /* top: 81; */
    left: -266px;
}

#actualites {
    /* top: 171; */
    left: 180px;
}

#photos {
    left: 387px;
}

#accueil {
    position: absolute;
}

#accueil {
    width: 185px;
    height: 216px;
    top: -95px;
    left: -643px;
    background-image: url('graphismes/bpk-orange.png');
    background-repeat: no-repeat;
    background-size: 100%;
}


#logos {
    position: absolute;
}

#logos {
    top: 16px;
    right: 21px;
    /* background-color: red; */
}

#logos a {
    width: 23px;
    height: 23px;
    display: inline-block;
    border-radius: 3px;
}

.gmail {
    background-image: url('graphismes/gmail.png');
    width: 32px !important;
}

.fb {
    background-image: url('graphismes/fb.png');
    width: 23px !important;
    margin: 0 1px;
}

.fsf {
    background-image: url('graphismes/fsf.png');
}

.soundcloud {
    background-image: url('graphismes/soundcloud.png');
    width: 48px !important;
}
.banniere{
    margin: 3em 10%;

    background-color: rgb(137, 233, 255);
    height: 12em;
    border-radius: 2px;
}
.image{
    
}
.pitch{
    position: absolute;

    width: 31em;
    left: 22%;
    top: 1em;
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 6px;
}

#bas {
    width: 850;
    margin: auto;
    position: relative;
    box-shadow: 0 0 15px #363636;
}

.colonne {
    position: absolute;
    height: 500px;
}

#gauche {
    width: 42%;
}

.speech {
    overflow: auto;
    box-shadow: 0 0 43px rgba(0, 0, 0, 0.6) inset;
    color: rgb(235, 235, 235);
    font-size: 15px;
    !important;
}

#bigNigga {
    height: 50%;
    background: url("graphismes/zgueg.jpg") no-repeat;
    background-color: #222222;
    background-size: 100% auto;
}

#bigNigga p {
    margin: 1em 8em 1em 1em;
}

#littleNigga {
    height: 50%;
    background: url("graphismes/kids.jpg") no-repeat;
    background-color: #3C3C3C;
    background-size: 100% auto;
}

#littleNigga p {
    margin: 1em 1em 1em 10em;
}

#droite {
    width: 58%;
    background: url("graphismes/mooning.jpg");
    right: 0;
    overflow: auto;
    //box-shadow: 0 0 43px rgba(0, 0, 0, 0.6) inset;
}

#droite p {
    padding: 1em;
    font-size: 11pt;
}

#content {
    width: 1010px;
    min-height: 1000px !important;
    position: static;
    margin: 0 auto;
    max-width: 100%;
    /* top: 118px; */
    background-color: white;
    z-index: 0;
    height: auto;
}

#content.autres {
    top: -31px;
}

#content2 {
    /* padding: 4em; */
    position: relative;
    min-height: 200px;
    /* border: 1.1px solid grey; */
    margin: 10em 2em 0 2em;
}

.fond {
    position: absolute;
    width: 100%;
}

#f_tete {
    /*background: url('graphismes/page2.png') no-repeat;*/
    height: 288;
}

#f_corps {
    /*background: url('graphismes/fond1px.png') repeat-y;*/
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 288px;
    margin-bottom: 288px;
    margin-right: 0px;
    margin-left: 0px;
}

#f_pied {
    /*background: url('graphismes/pied.png') no-repeat;*/
    height: 288;
    bottom: 0;
}

#firefox {
    position: absolute;
    opacity: 0;
}

#bloc_bienvenue {
}

section .article {
    margin: 1em 0em;
}

.article_container button {
    display: none;
}

table {
    max-width: 100%;
}

h1 {
    font-family: Segoe Print;
    font-size: x-large;
    color: brown;
}

.article h1 {
    //margin-left: 3em;
}

h2 {
    font-family: Segoe Print;
    font-size: 16;
    color: firebrick;
}

.article h2 {
    //margin-left: 1em;
}

p {
    font-family: Verdana;
}

section p {
    font-size: small;
    margin: 1em 0.5em;
    text-align: justify;
}

#content img {
    //margin: 1em 0.5em;
    border-radius: 2px;
}

#content a {
    color: rgb(239, 110, 3);
}

#content table {
    margin: auto;
}

#editer-ex {
    position: absolute;
    margin-left: -22;
    left: 50%;
    display: none;
}

#editer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 1em;
    height: 1em;
}

.card-container {
    width: 225px;
    height: 359px;
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    position: relative;
    display: inline-block;
}

.card {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1s ease-in-out;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 1s ease-in-out;
    width: 100%;
}

.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.card .side {
    backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: url('graphismes/mooning.jpg');
    box-shadow: 0 0 60px  #dddddd inset;
    z-index: 2;
}

.card .back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    overflow: auto;
    z-index: 1;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 9pt;
}

.card p, h1, h2 {
    margin: 1em;
}

.card h1 {
    font-size: 15pt;
    color: brown;
    position: relative;
    left: -5px;
}

.card h2 {
    color: rgb(95, 95, 95);
}

#avion {
    position: fixed;
    top: -100px;
    z-index: 3;
}

#temoin {
    position: fixed;
    top: 0;
    left: 50%;
}

#avion img {
    position: relative;
    top: -24px;
    left: -22px;
    width: 48px;
}

.pixel {
    width: 2%;
    height: 5%;
    background-color: rgba(201, 96, 96, 0.81);
    display: inline-block;
}

#matrix {
    font-size: 0;
    width: 100%;
    height: 100%;
}

.main_column {
    margin: auto;
    height: 100%;
    width: 900;
    position: relative;
    top: -25px;
}

.bandeau {
    width: 70%;
    overflow: auto;
    height: 204px;
}

.bandeau p {
    font-family: NeoRetro;
    color: #f8ef62;
    text-shadow: #ffffbe 0 0 1px;
    font-size: 16px;
    padding-right: 4em;
}

#titre {
    height: 300;
    width: 100%;
    background-image: url("graphismes/titre.jpg");
    background-size: 100%;
}

#zgueg {
    background-image: url("graphismes/zgueg.jpg");
    background-size: 100%;
}

#kids {
    background-image: url("graphismes/kids.jpg");
    background-size: 100%;
}

.world {
    border: none;
    width: 913px;
    height: 504px;
}










